*{
    margin: 0;
    text-decoration: none;
}
header{
   text-align: center;
   padding-top: 60px;
   height: 80px;
   background-color: #f5b041;
   font-weight: bold;
   font-size: 30px;
  
    
}
.sortie{
    position: absolute;
    position: absolute;
   left: 1220px;
}
.sortie img{
    cursor: pointer;
    
 }

.container {
    display: flex;
   height: 450px;
}

.left {
    flex: 1;
    padding: 20px;
    
    border-right: 2px solid #000000;
}

.right {
    flex: 1;
    padding: 20px;
    background-color: white;
   
}

h1, h2 {
    margin-bottom: 15px;
}


.categories-filter button{
background-color: black;
color: white;
cursor: pointer;
width: 100px;
border: none;
height: 40px;

}


.plat {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.plat p {
    margin: 3px 0;
}
.panier-container{
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#panier-total{
    margin-left: 350px;
}
#panier-total button{
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px;

}

.panier-item .quantite-controle {
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 1;
    justify-content: center;
  }
.plat button {
    margin-top: 5px;
    background-color: #f5b041;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
}
.quantite-controle{
    margin-left: 340px;
}
.quantite-controle button{
  background-color:  #f5b041;
   border-radius: 50%;
   border: none;
   height: 30px;
   width: 30px;
   cursor: pointer;
  
}

#panier p {
    margin: 5px 0;
}

select, button {
  
    padding: 6px;
}

.actions {
    margin-top: 30px;
    margin-left: 150px;
}

.actions button {
    margin-right: 10px;
    width: 150px;
    background-color: #000000;
    border: none;
    color: #fff;
    height: 38px;
    border-radius: 20px;
    cursor: pointer;
}

.total-section {
    margin-top: 20px;
    padding: 15px;
    background-color: #f8f9fa;
    border-top: 2px solid #ddd;
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
}

#montant-total {
    color: #28a745; 
    font-weight: bold;
}
