{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/authentifier.css' %}">
</head>
<body>

    <div class="form-container">
        <h2>Inscription</h2>
        <form method="post">
            {% csrf_token %}

            <label for="id_username">Nom d'utilisateur</label>
            {{ form.username }}

            <label for="id_email">Email</label>
            {{ form.email }}

            <label for="id_password1">Mot de passe</label>
            {{ form.password1 }}

            <label for="id_password2">Confirmer le mot de passe</label>
            {{ form.password2 }}

            <button type="submit">S'inscrire</button>
        </form>

        {% if form.errors %}
        <div class="error-message">
            <ul>
                {% for field, errors in form.errors.items %}
                    <li>{{ field }}: {{ errors }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <a href="{% url 'liste_utilisateurs' %}">Voir la liste des utilisateurs</a>
    </div>

</body>
</html>
