* {
    margin: 0;
    text-decoration: none;
    list-style: none;
    
}
header{
    display: flex;
     background-color: black;
     height: 100px;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 1000;
    gap: 450px;
 
     
 }
 header .logo{
     margin-left: 20px;
     margin-top: 10px;
     width: 150px;
     height: 80px;
 }
 header ul{
     display: flex;
     gap: 30px;
     justify-content: end;
  
     
 }
 header ul li{
     margin-top: 40px;
     
 }
 header ul li a{
     color: white;
 }
 header ul li a:hover{
     color: #f5b041;
 }

.container {
    width: 90%;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 150px;

}

.text-center {
    text-align: center;
}



.offres-grid {
    display: flex;
   
    width: 400px;
    gap: 20px;
}

.offre-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.offre-image {
    width: 100%;
    height: 200px;
   
}

.image-placeholder {
    width: 100%;
    height:100%;
   
}

.placeholder-text {
    color: #777;
    margin-top: 10px;
}

.offre-contenu {
    padding: 15px;
}

.offre-titre {
    margin-top: 0;
    margin-bottom: 10px;
}

.offre-dates {
    color: #666;
    font-size: 0.9em;
}

.message-info {
    padding: 15px;
    background-color: #f5b041;
    color: black;
    text-align: center;
    border-radius: 5px;
}

   footer {
        background-color: #000; 
        color: #f5b041;
        text-align: center;
        padding: 30px 0;
       height: 240px;
       margin-bottom: 0;
        margin-top:200px;
     
    }
    .footer-container {
        display: flex;
        
        gap: 200px;
       margin-left: 600px;
        
    }
    .logof{
        position: absolute;
        right: 1050px;

        width: 200px;
        height: 100px;
        cursor: pointer;
    }
    .footer-links a {
        text-decoration: none;
        color: #f5b041;
        transition: 0.3s;
    }
    .footer-links{
       display: block; 
       margin-top: 20px;
      
    }
    .footer-bottom{
        margin-top: 35px;
    }
    .social-icons img{
        display: block;
        width: 30px;
        height: 30px;
        margin-top: 10px;
        margin-left: 30px;
    }
    .social-icons a:hover{
       transition: 0.5s;
    }
    @media (max-width:1200px){
 .footer-container {
        
        
        gap: 250px;
       margin-left: 550px;
      
        
    }
    .logof{
       

right: 1000px;
        width: 150px;
        height: 100px;
      
    }
    
    .footer-links{
       font-size: 1rem;
      
    }
    .footer-bottom{
        margin-top: 50px;
        font-size: 12px;
    }
    .social-icons img{
        display: block;
        width: 20px;
        height: 20px;
        margin-top: 10px;
        margin-left: 20px;
    }
    .footer-section h3{
      font-size: 15px;
    }
    .social-icons a:hover{
       transition: 0.5s;
    }
    footer {
       
       height: 200px;
       margin-top: 80px;
     
    }
}
@media (max-width:  1146px){
.logof{
       

right: 950px;
      
      
    }


}
@media (max-width:  1146px){
header ul{

   margin-left: -110px; 
}}
@media (max-width:  1146px){
.logof{
       

right: 900px;
      
      
    }
}
@media (max-width:  1058px){
    header ul{

   margin-left: -160px; 
}
.logof{
       

right: 850px;
      
      
    }
}
@media (max-width:  1020px){
     header ul{

   margin-left: -200px; 
}
.logof{
       

right: 810px;
      
      
    }
     .footer-container {
        
        
        gap: 220px;
       margin-left: 500px;
      
        
    }
}
@media (max-width: 978px){
      header ul{

   margin-left: -280px; 
} 
.logof{
       

right: 770px;
      
      
    }
     .footer-container {
        
        
        gap: 200px;
       margin-left: 490px;
      
        
    }
}
@media (max-width: 924px){
     header ul{

   margin-left: -320px; 
} 
.logof{
       

right: 700px;
      
      
    }
     .footer-container {
        
        
        gap: 200px;
       margin-left: 420px;
      
        
    }
}
@media (max-width: 860px){
        header ul{

   margin-left: -390px; 
} 
.logof{
       

right: 620px;
      
      
    }
     .footer-container {
        
        
        gap: 200px;
       margin-left: 380px;
      
        
    }
}
@media (max-width: 860px){
          header ul{

   margin-left: -420px; 
} 
.logof{
       

right: 600px;
      
      
    }
     .footer-container {
        
        
        gap: 180px;
       margin-left: 350px;
      
        
    }
}

@media (max-width: 768px){
           header ul{

   margin-left: -450px;
    
} 
     .footer-container {
        
        
        gap: 200px;
       margin-left: 300px;
      
        
    }
    .logof{
       


        width: 90px;
        height: 80px;
      
    }
    
    .footer-links{
       font-size: 10px;
      
    }
    .footer-bottom{
        margin-top: 80px;
        font-size: 12px;
    }
    .social-icons img{
        display: block;
        width: 20px;
        height: 20px;
        margin-top: 10px;
        margin-left: 20px;
    }
    .footer-section h3{
      font-size: 15px;
    }
    .social-icons a:hover{
       transition: 0.5s;
    }
    footer {
       
       height: 200px;
       margin-top: 80px;
     
    }
    
    
}
 @media (max-width: 768px){
        header ul{

   margin-left: -420px;
 
    
} 
header ul li{
    margin-right: -10px;
   
}
li{
    font-size: 12px;
}
     .footer-container {
        
        
        gap: 200px;
       margin-left: 250px;
      
        
    }
    .logof{
       


      right: 550px;
      
    }
    
 }
 @media (max-width: 654px){
        header ul{

   margin-left: -600px;
 
    
} 
.footer-container {
        
        
        gap: 170px;
       margin-left: 230px;
      
        
    }
     .logof{
       


      right: 500px;
      
    }
 }
  @media (max-width: 628px){
     header ul {

   margin-left: -750px;
 
    
} 
header .logo{
    margin-left: 20px;
    margin-top: 10px;
    width: 120px;
    height: 60px;
}
  }
 @media (max-width: 604px){
  header .logo{
    margin-left: 20px;
    margin-top: 10px;
    width: 100px;
    height: 50px;
}
.footer-container {
        
        
        gap: 170px;
       margin-left: 200px;
      
        
    }
     .logof{
    
      right: 470px;
      
    }
 }
 @media (max-width: 580px){
  li{
    font-size: 10px;
  }
     header ul {

 position: absolute;
right: 3rem;
    
} 
   .logof{
    
      right: 430px;
      
    }
    .footer-container {
        
        
        gap: 150px;
       margin-left: 200px;
      
        
    }
 }
  @media (max-width: 544px){
 
   .logof{
    
      right: 400px;
      
    }
    .footer-container {
        
        
        gap: 110px;
       margin-left: 200px;
      
        
    }
  }
  @media (max-width: 500px){
     .footer-container {
        
        
        gap: 90px;
       margin-left: 200px;
      
        
    }
     .logof{
    
      right: 380px;
      
    }
      header ul {

 position: absolute;
right: 2rem;
    
} 
  }