body{
    background-image: url('/static/image/img1.png');
    background-size: cover;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
}
.container{
    background-color: rgb(0, 0, 0);
    width:395px;
    height:350px;
    position: relative;
    top:150px;
    left:120px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 1px 1px 15px 15px rgb(54, 56, 56);

}
button{
    padding:10px;
    width:270px;
    height:43px;
    border:none;
    border-radius: 15px;
    background-color: rgb(77, 74, 74);
    margin-bottom: 30px;
    color:white;
}
.button{
    text-align: center;
    margin-top: 40px;
    color:white;
}
.logo{
    width:300px;
    height:70px;
    margin-bottom: 15px;
    border-radius: 15px;
}
.dcn{
    background-color: #f5b041;
    color:rgb(0, 0, 0);
    width:150px;
    
}
.dcn:hover{
    background-color: #f5b041;
}
button:hover{
    background-color: rgb(247, 183, 65);
    color:black;
}
i{
    background-color: black;
}



