* {
    margin: 0;
    text-decoration: none;
    list-style: none;
    
}
header{
    background-color: black;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
header ul{
    display: flex;
    gap: 30px;
    justify-content: end;
    margin-right: 150px;
    
}
header ul li{
    margin-top: 40px;
    
}
header ul li a{
    color: white;
}
header ul li a:hover{
    color: #f5b041;
}
header{
    background-color: black;
    height: 100px;
}
header ul{
    display: flex;
    gap: 30px;
    justify-content: end;
    margin-right: 150px;
    
}
header ul li{
    margin-top: 40px;
    
}
header ul li a{
    color: white;
}
header ul li a:hover{
    color: #f5b041;
}


.container {
    width: 90%;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 150px;

}

.text-center {
    text-align: center;
}



.offres-grid {
    display: grid;
    width: 300px;
    gap: 20px;
}

.offre-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.offre-image {
    width: 100%;
    height: 200px;
   
}

.image-placeholder {
    width: 100%;
    height:100%;
   
}

.placeholder-text {
    color: #777;
    margin-top: 10px;
}

.offre-contenu {
    padding: 15px;
}

.offre-titre {
    margin-top: 0;
    margin-bottom: 10px;
}

.offre-dates {
    color: #666;
    font-size: 0.9em;
}

.message-info {
    padding: 15px;
    background-color: #f5b041;
    color: black;
    text-align: center;
    border-radius: 5px;
}