<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="contenu">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="container">
        {% for categorie in categories %}
        <div class="category1">
                {% if categorie.image %}
                    <img src="{{ categorie.image.url }}" alt="{{ categorie.nom }}">
                {% else %}
                    <img src="{% static 'image/default1.jpg' %}" alt="Image par défaut">
                {% endif %}
                <button onclick="redirigerVersPlats('{{ categorie.nom }}')">{{ categorie.nom }}</button>
                     
                </button>
            
                
            </div>
        {% endfor %}
    </div>
</div>
</div>
    
</body>
</html>