body {
    background: url('/static/images/exemple.jpg') no-repeat center center fixed;
    background-size: cover;
    color:white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.tag {
   
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
    background-color: transparent;
    color:rgb(211, 150, 38);
    border: 2px solid rgb(211, 150, 38);
    cursor: pointer;
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.3);
    width: 200px;

}
.tag :hover {
    background-color: rgba(255, 215, 0, 0.1);
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.5);
    transform: translateY(-3px);
}



.ingredient-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    max-width: 400px;
    border: 4px solid rgb(211, 150, 38);
    padding: 20px;
    margin: auto;
    position: relative;
    border-radius: 10px;
}

.ingredient {
    background-color:black;
    color: rgb(211, 150, 38);
    border: 2px solid rgb(211, 150, 38);
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

.ingredient:hover {
    background-color: rgb(211, 150, 38);
    color: black;
}

.add-btn {
    position: absolute;
    bottom: -25px;
    right: -25px;
    background-color: rgb(211, 150, 38);
    color: black;
    border: none;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
    
}
.ingredient-input {
    grid-column: span 2;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

.ingredient-save {
    grid-column: span 2;
    padding: 10px;
    background-color: rgb(211, 150, 38);
    color: black;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
    border-radius: 10px;
}
h2{
    text-align: center;
    font-weight: bold;
    color:rgb(211, 150, 38);
    border: 2px solid rgb(211, 150, 38);
    letter-spacing: 2px;
    padding: 10px 20px;
}
