{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    {% csrf_token %}
    <meta charset="UTF-8">
    <title>Gestion des Ingrédients</title>
    <link rel="stylesheet" href="{% static 'css/ing.css' %}">
    <script src="{% static 'js/ing.js' %}"></script>

</head>
<body>
    <div class="container">
        <div class="header">
           <h2>Les ingrédients</h2>
          
        </div>

       
            <div class="ingredient-box">
                <!-- Loop through ingredients and display them as buttons -->
                {% for ingredient in ingredients %}
                    <button class="ingredient">{{ ingredient.name }}</button>
                    
                {% endfor %}
                <button class="add-btn">+</button>
            </div>
           
        </div>
    </div>
</body>
</html>
