{% load static %}            

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier un Restaurant</title>
    <link rel="stylesheet" href="{% static 'css/modifier_rest.css' %}">
    <script src="{% static 'js/modifierrest.js' %}" defer></script>
</head>
<body>
    <div class="form-container">
        <h1>Modifier le restaurant</h1>

        <form id="restaurantForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" id="restaurantName" name="name" value="{{ restaurant.name }}" required>
            
            <input type="file" id="fileInput" accept="image/*">
            <label for="fileInput" class="upload-btn">Changer l'image</label>
            <br>                                   
            <img id="imagePreview" class="preview" src="{{ restaurant.image.url }}" alt="Aperçu de l'image">
            
            <h1>Adresse:</h1>
            <textarea id="restaurantAddress" name="address" required>{{ restaurant.address }}</textarea>
            
            <button type="submit" id="updateRestaurant">Mettre à jour</button>
        </form>

       
    </div>                                              
</body>
</html>
