{% extends 'base.html' %}
{% load static %}



{% block title %}Super Admin - The LFS Spot{% endblock %}

{% block content %}
<div class="menu-container" style="height: 530px;">
   <img src="{% static 'images/logo_transparent.png'%}" alt="Delivery Manager" class="logo">
   <a href="/login/">
    <button class="option-button button" style="background-color: #f5b041; color: black;">Déconnexion</button>
</a>
    <a href="/super/restaurants">
        <button class="option-button button">Restaurants</button>
    </a>
  
    <a href="/super/gestion_admin/">
        <button class="option-button button">Admins</button>
    </a>
    <a href="/super/gestion_ingredients/">
        <button class="option-button button">Ingrédients</button>
    </a>
    <a href="/super/category_selection/">
        <button class="option-button button">Menus</button>
    </a>
    <a href="/super/tableau_ventes/">
        <button class="option-button button">Ventes</button>
    </a>
    
</div>


{% endblock %}
