{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réservation</title>
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <script src="{% static 'js/réservation.js' %}"></script>
</head>
<body>
    <header>
      <img src="{% static 'image/logo.png' %}" alt="" class="logo">
    <nav>
        <ul>
            <li><a href="http://127.0.0.1:8000/restaurant/">Accueil</a></li> 
            <li><a href="http://127.0.0.1:8000/restaurant/M">Menu</a></li>
            <li><a href="http://127.0.0.1:8000/restaurant/R">Réservation</a></li> 
          <li><a href="http://127.0.0.1:8000/restaurant/historique/">Historique</a></li>
          <li><a href="http://127.0.0.1:8000/restaurant/offres/">Offre Promo</a></li>
          <li><a href="/restaurant/panier/" id="cart-icon">
            <img src="{% static 'image/paniers.png' %}" alt=""style="width: 20px; color:yellow;">
            <span id="cart-count">0</span>
          </a></li>
        </ul>
    </nav>
    </header>
    <img src="{% static 'image/restable.jpg' %}" alt="">
    <div class="reservation-container">
        <h2>Réserver une Table</h2>
        <form method="POST" action="{% url 'réservation' %}" >
            {% csrf_token %}
            
            <label for="name">Nom :</label>
            <input type="text" id="name" name="name" required value="{{ user_name|default_if_none:'' }}" {% if user.is_authenticated %}readonly{% endif %}><br>

            
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" required value="{{ user_email|default_if_none:'' }}" {% if user.is_authenticated %}readonly{% endif %}><br>
            
            <label for="phone">Téléphone :</label>
            <input type="tel" id="phone" name="phone" required value="{{ user_phone|default_if_none:'' }}" {% if user.is_authenticated %}readonly{% endif %}><br>
            <label for="guests">Nombre de personnes :</label>
            <input type="number" id="guests" name="guests" min="1" required><br>

        
            
            <label for="date">Date :</label>
            <input type="date" id="date" name="date" required><br>
    
            <label for="time">Heure :</label>
            <input type="time" id="time" name="time" required><br>
            
            <label for="restaurant">Choisissez un restaurant :</label>
            <select name="restaurant_id" id="restaurant" required>
                
                <option value="">Sélectionnez un restaurant</option>
                {% for r in restaurants %}
                    <option value="{{ r.id }}">{{ r.name }}</option>
                {% endfor %}
            </select><br>
            {% if user.is_authenticated %}
            <button type="submit">Réserver</button>
            {% else %}
            <button onclick="window.location.href='http://127.0.0.1:8000/login'">Réserver</button>


            {% endif %}
        </form>
    

        {% if reservation_success %}
            <p class="success-message">{{ reservation_success }}</p>
        {% endif %}
        {% if reservation_error %}
            <p class="error-message">{{ reservation_error }}</p>
        {% endif %}
    </div>
    
    <div class="etat-reserve">
    <a href="{% url 'verifier_reservation' %}">Voir l'état de votre réservation</a>
    </div>

    <footer>
        <div class="footer-container">
            <img src="{% static 'image/logo.png' %}" alt="" class="logof">
            <div class="footer-section">
                <h3>Navigation</h3>
                <ul class="footer-links">
          <li><a href="http://127.0.0.1:8000/restaurant/">Accueil</a></li> 
          <li><a href="http://127.0.0.1:8000/restaurant/M">Menu</a></li>
          <li><a href="http://127.0.0.1:8000/restaurant/R">Réservation</a></li> 
          <li><a href="http://127.0.0.1:8000/restaurant/historique/">Historique</a></li>
          <li><a href="http://127.0.0.1:8000/restaurant/offres/">Offre </a></li>
                    
                </ul>
            </div>
    
            
            <div class="footer-section">
                <h3>Suivez-nous</h3>
                <div class="social-icons">
                    <a href="#"><img src="{% static 'image/facebook.png' %}" alt="Facebook"></a>
                    <a href="#"><img src="{% static 'image/instagram.png' %}" alt="Instagram"></a>
                    <a href="#"><img src="{% static 'image/twitter.png' %}" alt="Twitter"></a>
                </div>
            </div>
        </div>
        <p class="footer-bottom">© 2025 The LFS Spot Restaurant. Tous droits réservés.</p>
    </footer>
</body>

</html>